
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Kiosk</title>
  </head>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/custom.css">


  <body>

    <%- include ./partials/navbar -%>
   

    

      <%- body -%>

   <!-- /container -->

    <%- include ./partials/footer -%>
    <%  include ./partials/javaScriptOnly -%>
  </body>
</html>
